name: Publish Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-publish-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        working-directory: atm
        run: npm install

      - name: Generate documentation with Compodoc
        working-directory: atm
        run: npx @compodoc/compodoc -p tsconfig.json -d documentation

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: atm/documentation